@font-face {
    font-family: 'HurmeGeometricSans4';
    src: url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-Thin.eot');
    src: local('☞HurmeGeometricSans4 Thin'), local('HurmeGeometricSans4-Thin'),
    url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-Thin.eot?#iefix') format('embedded-opentype'),
    url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-Thin.woff') format('woff'),
    url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HurmeGeometricSans4-SemiBold';
    src: url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-SemiBold.eot');
    src: local('☞HurmeGeometricSans4 SemiBold'), local('HurmeGeometricSans4-SemiBold'),
    url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-SemiBold.woff') format('woff'),
    url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HurmeGeometricSans4-regular';
    src: local('☞HurmeGeometricSans4 regular'), local('HurmeGeometricSans4-regular'),
    url('./../Fonts/hurme/hurme.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HurmeGeometricSans4-LightObl';
    src: url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-LightObl.eot');
    src: local('☞HurmeGeometricSans4 LightObl'), local('HurmeGeometricSans4-LightObl'),
    url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-LightObl.eot?#iefix') format('embedded-opentype'),
    url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-LightObl.woff') format('woff'),
    url('./../Fonts/HurmeGeometric/HurmeGeometricSans4-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'HurmeGeometricSans4-regular';
}

.row {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header {
    height: 91.03px;
    color: #fff;
    background: #2b2b2b;
}

header > div {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

.menu > a {
    margin-right: 56.55px;
    text-transform: uppercase;
    font-size: 15px;
}

.register > a {

}

.post_ad > a {
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid #00a651;
    padding: 16px 22px;
    font-family: 'HurmeGeometricSans4-SemiBold';
}

.slider {
    background: #3a3a3a;
    height: 320px;
}

.slider > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    text-align: center;
    color: #fff;
}

.heading_p_1 {
    font-size: 40px;
    font-family: 'HurmeGeometricSans4-SemiBold';
    font-weight: 600;
    font-style: normal;
}

.heading_p_2 {
    font-size: 18px;
}

.heading p {
    margin: 0;
}

.searc_now {
    margin-top: 33.5px;
    height: 55.43px;
    display: flex;
    background: #ffffff;
    overflow: hidden;
    border-radius: 30px;
}

.you_looking > input {
    box-sizing: border-box;
    height: 100%;
    padding-left: 24px;
    font-size: 14px;
    outline: none;
    border: none;
}

.your_location {
    padding: 0 20px;
    display: flex;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.button {
    display: flex;
    align-items: center;
    padding-right: 4px;
}

.button > button {
    height: 44.96px;
    border-radius: 22px;
    border: none;
    font-size: 17px;
    padding: 0px 20px;
    background: #00a651;
    cursor: pointer;
    color: #fff;
}

.select_category {
    display: flex;
    padding: 0 20px;
}

.categories_heading {
    text-align: center;
    margin-top: 50px;
}

.categories_heading > p {
    margin: 0;
}

.categories_p_1 {
    font-family: 'HurmeGeometricSans4-SemiBold';
    font-size: 25px;
}

.categories_p_2 {
    font-size: 17px;
}

.categories_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories_icon > div {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin: 37.23px 37px;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    border-radius: 50%;
}

.categories_vehicles {
    background: #53b9c5;
}

.categories_electronics {
    background: #d5658d;
}

.categories_mobiles {
    background: #ebaf2d;
}

.categories_furniture {
    background: #b89579;
}

.categories_fashion {
    background: #a567cc;
}

.categories_jobs {
    background: #00a651;
}

.categories_real_estate {
    background: #81d050;
}

.categories_animals {
    background: #a0bd2d;
}

.categories_education {
    background: #757790;
}

.categories_baby {
    background: #ef64bd;
}

.categories_services {
    background: #f4721e;
}

.categories_matrimony {
    background: #f05458;
}

.your_location > select, .select_category > select {
    border: none;
    outline: none;
    cursor: pointer;
    width: 171px;
}

.categories_icon > div > span {
    font-size: 15px;
}

